<!DOCTYPE html>
<html>

<head>
    <title>Secret Rakhi QR</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .container{
            height: 90vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .start-btn{
            line-height: 50px;
            width: 100px;
            font-size: larger;
            background-color: orange;
            border: none;
            border-radius: 10px;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <div class="container">

        <h1>🎁 Share your secret message in the form of QR</h1>
        <a href="/create"><button class="start-btn">START</button></a>
    </div>
</body>

</html>